@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
* {
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  overflow: hidden;
  padding: 0px;
}

/* Custom css Style Start  */

.banner {
  position: relative;
}

.set-bg {
  background-image: url("../../assets/img/BG.png") !important;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  height: 100vh;
}

.set-bg-new {
  background-image: url("../../assets/img/bgg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  height: 100vh;
}

.login-welcome {
  position: relative;
}

.subInterest .hero__caption {
  width: 350px;
  /* height: 870px; */
  /* margin: 65px 0 0 70px; */
  height: 580px;
  margin-left: 93px;
  margin-top: 10px;
  background: #ffffff;
  box-shadow: 0px 10px 100px 35px rgb(0 0 0 / 15%);
  border-radius: 20px !important;
  padding: 30px;
  margin-bottom: 10px;
}

.hero__caption {
  width: 340px;
  height: 470px;
  margin: 65px 0 0 70px;
  /* height: 600px;
  margin-left: 93px;
  margin-top: 93px; */
  background: #ffffff;
  box-shadow: 0px 10px 100px 35px rgb(0 0 0 / 15%);
  border-radius: 20px !important;
  /* padding: 30px; */
  /* margin-bottom: 10px; */
}

.welcome-main {
  padding: 40px;
}

.logo img {
  /* width: 121px; */
  height: 74px;
  margin: 20px 0 0 24px;
}

.hero__caption p {
  margin-bottom: 0;
  font-style: normal;
  font-weight: 300;
  font-size: 30px;
  line-height: 36px;
  color: #000;
}

.subLogo img {
  height: 74px;
  margin: -10px 0 0 -16px;
}

.hero__caption h1 {
  margin-bottom: 0;
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 36px;
  color: #000;
}

.welcome {
  margin-bottom: 48px;
}

.form .form-control {
  background: rgba(229, 229, 229, 0.3);
  border: 1px solid #e5e5e5;
  border-radius: 10px;
  width: 290px;
  height: 45px;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: #626263;
}

.input-pass {
  margin-bottom: 48px;
}

.forgot {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  color: #006fff;
  margin-bottom: 19px;
  display: block;
}

.btn-blue-primary {
  width: 300px !important;
  height: 45px !important;
  background: #006fff !important;
  border-radius: 10px !important;
  font-style: normal !important;
  font-weight: 600 !important;
  font-size: 14px !important;
  line-height: 21px !important;
  color: #ffffff !important;
}

/* .btn-blue-primary:hover {
    background: #295cd2;
    color: #fff;
} */

.form {
  margin-bottom: 20px;
}

.made small {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 36px;
  color: #626263;
  margin-right: 4px;
}

.made img {
  margin-top: 5px;
  width: 26px;
  height: 22px;
}

.ul-list li {
  font-style: normal;
  font-weight: 300;
  font-size: 40px;
  line-height: 36px;
  color: #ffffff;
  margin-right: 94px;
}

.ul-list {
  position: absolute;
  bottom: 52px;
  z-index: 999999;
  right: 171px;
}

.ul-list li:nth-last-child() {
  margin-right: 0;
}

.img-banner-main {
  height: 100vh;
}

.banner-sub::before {
  content: "";
  position: absolute;
  left: 34px;
  top: 49px;
  right: 0;
  bottom: 0;
  background-image: url("../../assets/img/girl_on_smartphone.png");
  background-size: 100%;
  background-repeat: no-repeat;
  z-index: 9999;
}

.ul-list {
  position: absolute;
  bottom: -5px;
  z-index: 999999;
  right: 159px;
}

/* Media query  */

@media only screen and (max-width: 1500px) {
  .hero__caption {
    /* margin-top: 15px;
    padding: 20px 0px 0 30px;
    height: 570px; */
    box-shadow: 1px 1px 7px 1px #131111c4;
  }
  .ul-list li {
    margin-right: 50px;
  }
  .round-sub::before {
    width: 435px;
    height: 435px;
    right: 145px;
    top: 187px;
  }
  .ul-list {
    right: 17px;
    margin-right: 2px;
  }
  .welcome {
    margin-bottom: 25px;
  }
  .form {
    margin-bottom: 16px;
  }
  .input-pass {
    margin-bottom: 30px;
  }
  .logo {
    padding-bottom: 5px;
  }
}

#connectSocket {
  width: 290px !important;
  margin: 0 !important;
}

.showThankYou p {
  /* color: green; */
  font-size: 20px;
  font-weight: 500;
  margin: 0 18px;
}

.showThankYou img {
  width: 100px;
  margin: 40px 100px;
  height: 100px;
}

.content-div {
  padding: 0 24px;
}

.avaya-logo-div {
  position: absolute;
  left: 160px;
  margin: 10px 0 0 0;
}

.avaya-logo-div span {
  font-size: 18px;
  /* margin: "100px 20px 0px 0px" */
}

.avaya-logo-div img {
  text-align: center;
  align-items: center;
  align-self: center;
  display: block;
  width: 325px;
}

.eye_icon{
  position: relative;
  left: 16rem;
  bottom: 31px;
}
