.skeleton-loader {
    background-color: #f0f0f0;
    animation: skeleton-loader-animation 1.5s infinite ease-in-out;
  }
  
  @keyframes skeleton-loader-animation {
    0% {
      background-position: -200px 0;
    }
    100% {
      background-position: 200px 0;
    }
  }