.iconActive {
  /* filter: brightness(0) invert(1); */
}
.chat_mesge {
  word-wrap: break-word !important;
  word-break: break-all !important;
}
.space-member__displayname {
  font-size: 13px !important;
  line-height: 10px;
  text-transform: capitalize;
  font-weight: 600 !important;
  width: 115px !important;
}
.chat_fix {
  height: 27rem !important;
}

.incoming-popup {
  position: fixed;
  z-index: 9999;
  box-shadow: 5px 5px 25px 0 rgb(46 61 73 / 20%);
  flex-direction: column;
  bottom: calc(2 * 15px + 52px);
  right: 15px;
  width: 345px;
  max-height: 85vh;
  background-color: #fff;
  border-radius: 15px;
  bottom: 31.7rem !important;
}

.transferIcon {
  position: absolute;
  cursor: pointer;
  width: 24px;
  right: 110px;
}

.end_chat_icon {
  width: 20px;
  height: 20px;
  padding: 2px 0 0 2px;
  margin: -1px 0 0 2px;
}

.react-input-emoji--button svg {
  fill: gray !important;
}

.chat-duration,
.chat-time {
  /* display: inline-block; */
  font-size: 10px;
  color: #000 !important;
}

.chat-duration,
.chat-duration-1 {
  width: 11em;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;

  /* position: relative; */
  /* top: 4px; */
}
.chat-duration-1 {
  /* display: inline-block; */
  font-size: 10px;
  color: #000;
  /* position: relative; */
  /* top: 4px; */
}

.chat-time,
.chat-time-1 {
  /* position: absolute; */
  /* display: inline-block; */
  font-size: 10px;
  color: #000;
  /* right: 30px; */
  /* padding: 5px 0 0 0; */
}

.unread-count {
  font-size: 8px;
  color: #fff;
  background: red;
  top: -3px;
  font-weight: bold;
  position: relative;
  border-radius: 20px;
  padding: 0px 4px;
  left: 15px;
}

* {
  line-height: inherit !important;
}

.MuiTab-root {
  min-width: 118px !important;
}

.MuiTabs-flexContainer,
.MuiTabs-scroller,
.MuiTabs-root,
.MuiTab-wrapper {
  font-size: 12px !important;
}

.MuiButtonBase-root {
  margin: 0 !important;
}

.searchInternalAgent {
  margin: 5px auto;
  width: 100%;
}

.searchInternalAgent input {
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
  padding: 0 10px;
  font-size: 12px;
}

.search-text {
  padding: 0 10px;
  font-size: 12px;
  text-decoration: underline;
}

.internalNotify {
  font-family: noto-sans, sans-serif;
  background: var(--badge-background-color);
  border-radius: 8px;
  box-sizing: border-box;
  color: var(--badge-color);
  content: attr(data-badge);
  display: flex;
  font-size: 10px;
  height: 16px;
  justify-content: center;
  line-height: 16px;
  min-width: 16px;
  padding: 0 4px;
  position: absolute;
  right: 19px;
  top: 21px;
  transform: translate(65%, -65%);
  z-index: 49;
}

.newclass {
  margin-top: 0;
  max-width: 100% !important;
  max-height: 3rem !important;
  /* overflow-y: hidden !important; */
  word-wrap: break-word !important;
  word-break: break-all !important;
  /* z-index: 9999 !important; */
}

.internalAgentName {
  left: 25px;
  font-size: 6px;
  color: #fff;
  background: green;
  top: -10px;
  font-weight: bold;
  position: relative;
  border-radius: 20px;
  padding: 0px 6px 0px 3px;
}
.internalAgentNameNotAvail {
  left: 24px;
  font-size: 6px;
  color: #fff;
  background: gray;
  top: -9px;
  font-weight: bold;
  position: relative;
  border-radius: 20px;
  padding: 0px 6px 0px 3px;
}
.internalAgentNameNotReady {
  left: 24px;
  font-size: 6px;
  color: #fff;
  background: #ffc107;
  top: -9px;
  font-weight: bold;
  position: relative;
  border-radius: 20px;
  padding: 0px 6px 0px 3px;
}
.notifyNewChat::after {
  font-family: noto-sans, sans-serif;
  background: var(--badge-background-color);
  border-radius: 8px;
  content: "";
  display: flex;
  font-size: 8px;
  height: 8px;
  justify-content: center;
  line-height: 16px;
  min-width: 8px;
  position: absolute;
  right: 26px;
  top: 20px;
  transform: translate(65%, -65%);
  z-index: 49;
}

.react-emoji {
  margin: 6px 0 0 0;
}

.react-input-emoji--button {
  margin: 0 !important;
  padding: 0 2px 0 10px !important;
}

.imgPreview button {
  border: 1px solid #ccc;
  float: right;
  border-radius: 5px;
}

/* audio::-webkit-media-controls-mute-button {
  display: none !important;
} */
/* audio::-webkit-media-controls-volume-slider,
.audio::-webkit-media-controls-volume-slider-container {
  display: none !important;
} */

.chat-message audio {
  width: 185px;
  height: 38px;
}
.chat-box-body audio {
  width: 225px;
  height: 38px;
}
audio::-webkit-media-controls-current-time-display {
  display: none !important;
}

audio::-webkit-media-controls-time-remaining-display {
  display: none !important;
}

/* audio::-webkit-media-controls-timeline {
  display: none !important;
} */

.sidebar_user_internal {
  width: 35px;
  height: 35px;
  border-radius: 35px;
  display: flex;
  justify-content: center;
  background-color: #000;
}

.sidebar_user_external {
  width: 35px;
  height: 35px;
  border-radius: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.External_connected {
  left: 25px;
  font-size: 6px;
  background: green;
  top: -10;
  font-weight: bold;
  position: relative;
  border-radius: 20px;
  padding: 0px 6px 0px 3px;
}

.External_disconnected {
  left: 25px;
  font-size: 6px;
  background: red;
  top: -9px;
  font-weight: bold;
  position: relative;
  border-radius: 20px;
  padding: 0px 6px 0px 3px;
}

.btn-primary-bluedial {
  color: #fff;
  background-color: #1447d4;
  border-color: #1447d4;
}

.btn-primary-bluedial:hover {
  color: #fff;
  background-color: #56bcf0;
  border-color: #56bcf0;
}

.container-wa .floating-button {
  position: fixed;
  bottom: 7%;
  right: -10px;
  width: 60px;
  height: 60px;
  background-color: #1447d4;
  color: white;
  text-align: center;
  font-size: 20px;
  cursor: pointer;
  box-shadow: 0px 2px 5px #666;
  z-index: 1000;
  border-top-left-radius: 34px;
  border-bottom-left-radius: 34px;
}

.card-dial h1 {
  text-align: center;
  font-size: 1.2rem;
  color: #1447d4;
  text-transform: capitalize;
  font-weight: 400;
  padding: 15px;
  background: white;
}

.heading {
  border-bottom: 1px solid #1447d4;
}

.container-wa .floating-button:hover {
  background-color: #56bcf0;
}

.container-wa label {
  font-size: 13px;
  color: #31312f;
}

.container-wa .floating-button .icon {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  line-height: 60px;
  text-align: center;
  transition: all 0.3s;
  font-size: 19px;
}

.container-wa .floating-button .icon.wa {
  animation: wa-out 0.3s;
}

.container-wa .floating-button .icon.close {
  opacity: 0;
  margin: auto;
  transform: rotateZ(-70deg);
  animation: close-out 0.3s;
}

.container-wa .card-dial {
  font-family: "Quicksand", sans-serif;
  position: absolute;
  width: 330px;
  height: 100vh;
  background-color: #ffffff;
  right: 0px;
  bottom: 0;
  display: none;
  z-index: 10000;
  box-shadow: 0 10px 30px rgb(20 71 212 / 26%);
  border-top-left-radius: 27px;
  border-bottom-left-radius: 27px;
}

.card-dial .form-control:focus {
  box-shadow: 0 0 0 0.2rem rgb(0 123 255 / 0%);
}

.container-wa .card-dial .banner-body {
  flex-grow: 1;
  background-color: #eaeaea;
  padding: 15px;
}

.container-wa .card-dial .banner-body .card-atendente {
  margin-top: -50px;
  background-color: white;
  padding: 15px;
  display: flex;
  flex-direction: column;
  border-radius: 15px;
}

.container-wa .card-dial .banner-body .card-atendente .dados-atendente {
  display: flex;
}

.container-wa .card-dial .banner-body .card-atendente .dados-atendente .avatar {
  padding: 15px;
}

.container-wa
  .card-dial
  .banner-body
  .card-atendente
  .dados-atendente
  .avatar
  img {
  border-radius: 50%;
}

.container-wa
  .card-dial
  .banner-body
  .card-atendente
  .dados-atendente
  .informacoes {
  padding: 15px;
}

.container-wa .card-dial .banner-body .card-atendente .botao-atendente {
  display: flex;
}

.container-wa .card-dial .banner-body .card-atendente .botao-atendente .btn {
  color: white;
  background-color: #24d366;
  border-radius: 15px;
  width: 100%;
  padding: 10px;
  text-align: center;
  text-decoration: none;
}

.container-wa.is-opened .icon.wa {
  animation: wa-in 0.15s linear;
  animation-fill-mode: forwards;
}

.container-wa.is-opened .icon.close {
  animation: close-in 0.2s;
  animation-delay: 0.1s;
  animation-fill-mode: forwards;
}

.container-wa.is-opened .card-dial {
  display: flex;
  flex-direction: column;
  position: fixed;
}

.container-wa.is-opened .icon.wa {
  animation: wa-in 0.15s linear;
  animation-fill-mode: forwards;
}

.container-wa.is-opened .icon.close {
  animation: close-in 0.2s;
  animation-delay: 0.1s;
  animation-fill-mode: forwards;
}

@keyframes close-in {
  from {
    opacity: 0;
    transform: rotateZ(-70deg);
  }
  to {
    opacity: 1;
    transform: rotateZ(0deg);
  }
}

@keyframes close-out {
  from {
    opacity: 1;
    transform: rotateZ(0deg);
  }
  to {
    opacity: 0;
    transform: rotateZ(-70deg);
  }
}

@keyframes wa-in {
  from {
    opacity: 1;
    transform: rotateZ(0deg);
  }
  to {
    opacity: 0;
    transform: rotateZ(180deg);
  }
}

@keyframes wa-out {
  from {
    opacity: 0;
    transform: rotateZ(180deg);
  }
  to {
    opacity: 1;
    transform: rotateZ(0deg);
  }
}

/* dial pad  */

#numDisplay {
  padding: 0 5px;
  box-sizing: border-box;
  width: 100%;
  border: 0px;
  background: #ffffff;
  color: #212529;
  font-size: 25px;
  text-align: right;
  height: 70px;
  display: flex;
  justify-content: end;
  align-items: center;
  align-content: center;
}

#numPad {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

#numBWrap {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  width: 90%;
  align-items: center;
}

#numBWrap .dot,
#numBWrap .num,
#numBWrap .zero {
  background: #0e318f;
}

.start {
  padding-top: 16px;
  font-size: 2rem;
}

#numBWrap .num {
  font-size: 15px;
  color: #fff;
  text-align: center;
  padding: 15px 0;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin: 5px;
}

#numBWrap .ok {
  font-size: 15px;
  color: #fff;
  text-align: center;
  padding: 15px 0;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin: 5px;
}

#numBWrap .clr,
#numBWrap .del {
  background: #333;
}

#numBWrap .ok {
  background: #03a640;
}

.zero:active,
.num:active {
  background: #006fff !important;
  border-top-color: #006fff;
}

.ok:active {
  background: #4bbc75 !important;
  border-top-color: #4bbc75;
}

/* call details  */

/* .call_details {
  position: fixed;
  bottom: 10px;
  right: 12px;
  width: 260px;
  background-color: #000000cf;
  color: white;
  border-radius: 11px;
  text-align: center;
  font-size: 35px;
  cursor: pointer;
  box-shadow: 0px 2px 5px #666;
  z-index: 1000;
} */

.number-detais {
  font-size: 14px;
}

.time-detais {
  font-size: 10px;
  color: #7c7cc4;
}

.info-main a:hover {
  display: block;
  position: relative;
}

.call-box,
.info-table {
  display: none;
}

.call-box,
.info-table {
  /* display: block; */
  background-color: #ffff;
  padding: 8px;
  position: absolute;
  box-shadow: 1px 1px 3px 2px #0056b31f;
  border-radius: 4px;
  width: 500px;
}

.info-call h1,
.info-table h1 {
  font-size: 13px;
  text-align: center;
  /* background: #f6f5f5; */
  padding: 0.7rem;
  border-radius: 7px;
  color: #000;
  font-weight: 700;
}

.info-table table {
  font-size: 11px;
}

.txt-9 {
  font-size: 9px !important;
}

.call-reason,
.call-reason option {
  font-size: 0.9rem;
}

.dial-back {
  color: #0e318f;
  font-size: 1.4rem;
}

.dial-back i:active {
  color: #386dff;
}

.dial-btn .btn:hover {
  box-shadow: rgba(0, 0, 0, 0.15) 0 3px 9px 0;
}

.dial-btn {
  touch-action: manipulation;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

/* .dial-btn .btn-danger:not(:disabled):not(.disabled).active:focus,
.dial-btn .btn-danger:not(:disabled):not(.disabled):active:focus,
.show>.dial-btn .btn-danger.dropdown-toggle:focus {
  box-shadow: 5px 5px 7px 0rem rgb(225 83 97 / 50%) !important;
}

.dial-btn .btn-success:not(:disabled):not(.disabled).active:focus,
.dial-btn .btn-success:not(:disabled):not(.disabled):active:focus,
.show>.dial-btn .btn-success.dropdown-toggle:focus {
  box-shadow: -5px 5px 7px 0rem rgb(72 180 97 / 50%);
}

.dial-btn .btn-secondary:not(:disabled):not(.disabled).active:focus,
.dial-btn .btn-secondary:not(:disabled):not(.disabled):active:focus,
.show>.dial-btn .btn-secondary.dropdown-toggle:focus {
  box-shadow: -5px 5px 7px 0rem rgb(130 138 145 / 50%);
}

.dial-btn .btn-info:not(:disabled):not(.disabled).active:focus,
.dial-btn .btn-info:not(:disabled):not(.disabled):active:focus,
.show>.dial-btn .btn-info.dropdown-toggle:focus {
  box-shadow: 0px 0px 20px 0.3rem rgb(58 176 195 / 50%);
} */

.dial-btn .btn-danger:focus {
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset,
    rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset,
    rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px,
    rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px,
    rgba(0, 0, 0, 0.09) 0px 0px 8px;
}

.dial-btn .btn-info:focus {
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset,
    rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset,
    rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px,
    rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px,
    rgba(0, 0, 0, 0.09) 0px 0px 8px;
}

.dial-btn .btn-secondary:focus {
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset,
    rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset,
    rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px,
    rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px,
    rgba(0, 0, 0, 0.09) 0px 0px 8px;
}

.dial-btn .btn-success:focus {
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset,
    rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset,
    rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px,
    rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px,
    rgba(0, 0, 0, 0.09) 0px 0px 8px;
}

/* overflow  */

.card-over {
  overflow: unset !important;
}

.close-btn .btn:hover {
  background: #f5f5f5;
  color: #dc3545;
}

.text-1 {
  font-size: 1.2rem;
}

/* overflow  end*/

/* caller details  */

.call_details_1 {
  position: fixed;
  top: 74px;
  right: 25px;
  width: 315px;
  /* min-height: 250px; */
  background: rgb(42, 93, 209);
  background: linear-gradient(
    90deg,
    rgba(42, 93, 209, 1) 0%,
    rgba(68, 149, 228, 1) 35%,
    rgba(101, 220, 250, 1) 100%
  );
  color: white;
  border-radius: 11px;
  text-align: center;
  font-size: 35px;
  cursor: pointer;
  box-shadow: rgb(0 0 0 / 20%) 0px 12px 28px 0px,
    rgb(0 0 0 / 10%) 0px 2px 4px 0px,
    rgb(255 255 255 / 5%) 0px 0px 0px 1px inset;
  z-index: 99999;
}
.incomecall_details {
  position: fixed;
  top: 74px;
  right: 25px;
  width: 290px;
  height: 182px;
  background: #012a67;
  color: white;
  border-radius: 4px;
  text-align: center;
  font-size: 35px;
  cursor: pointer;
  box-shadow: rgb(0 0 0 / 20%) 0px 12px 28px 0px,
    rgb(0 0 0 / 10%) 0px 2px 4px 0px,
    rgb(255 255 255 / 5%) 0px 0px 0px 1px inset;
  z-index: 99999;
}
.incomecall_details:nth-child(2) {
  top: calc(109px + 125px);
}
/* .incomecall_details:nth-child(3) {
  top: calc(85px + 250px);
}
.incomecall_details:nth-child(4) {
  top: calc(74px + 377px);
} */
.image-paragraph {
  display: flex;
  align-items: center;
  border-bottom: 1px solid white;
  padding-bottom: 9px;
}
.image-paragraph p {
  color: white;
  font-family: sans-serif;
  font-size: 12.5px;
  padding-left: 10px;
  font-weight: 600;
}

.image-paragraph img {
  margin-right: 10px;
  width: 20px;
}

.list-details p {
  color: #ffff;
  font-size: 11px;
  font-weight: 600;
}




.button {
  animation: glowing 1300ms infinite;
}
@keyframes glowing {
  0% {
    color: #ffffff;
    /* box-shadow: 0 0 5px #ffffff; */
  }
  50% {
    color: #ffffff;
    box-shadow: 0 0 20px #ffffff;
  }
  100% {
    color: #ffffff;
    /* box-shadow: 0 0 5px #ffffff; */
  }
}

















.call-user {
  display: flex;
  width: 75px;
  height: 75px;
  background: #fff;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  font-size: 1.7rem;
  color: #316ed7;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

.incomeing-details,
.number-details {
  font-size: 17px;
  text-align: center;
  font-weight: 600;
}

.incomeing-details p,
.number-details p {
  margin-bottom: 0 !important;
}

.time-details {
  text-align: center;
  font-size: 12px;
  color: #173465;
  margin-top: 5px;
  margin-bottom: 0 !important;
}

/* incoming call  */

.call-animation {
  background: #fdfdfd;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  animation: call 1.5s ease infinite;
  color: aliceblue;
  font-size: 18px;
  font-weight: bold;
  position: relative;
  box-shadow: rgb(0 0 0 / 0%) 0px 1px 3px, rgb(0 0 0 / 14%) 0px 1px 2px;
}


.income-call-icon {
  margin: 10px 0;
}

.incomeing-details small {
  font-size: 75%;
  font-weight: 200;
}

.dial-btn small {
  font-size: 65%;
  font-weight: 200;
}

@keyframes call {
  15% {
    box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.5);
  }
  25% {
    box-shadow: 0 0 0 8px rgba(255, 255, 255, 0.5),
      0 0 0 16px rgba(255, 255, 255, 0.3);
  }
  30% {
    box-shadow: 0 0 0 12px rgba(255, 255, 255, 0.5),
      0 0 0 24px rgba(255, 255, 255, 0.3);
  }
}

/* chat send btn start  */
.chat_send {
  width: 100%;
  background-color: red;
}
.w-49 {
  width: 49% !important;
}



.knowledge-guide-content::-webkit-scrollbar{
  display: none;
}