.end_call {
  font-size: 8px;
  color: #fff;
  border-radius: 7px;
  font-weight: 500;
  height: 19px;
  padding: 0px 6px;
  background-color: #d93d32;
}

.iconCall {
  padding: 0;
  width: 12px;
  height: 10px;
  margin: -1px 0 0 0;
}

.end_call_div {
  //   position: absolute;
  //   top: 105px;
}

.accept_chat {
  border: 1px solid;
  font-size: 12px !important;
  color: #fff;
  border-radius: 7px;
  // font-weight: 800 !important;
  // height: 19px;
  // padding: 2px 4px !important;
  background-color: #00498f;
}

.reject_chat {
  border: 1px solid;
  font-size: 12px !important;
  color: #fff;
  border-radius: 7px;
  // font-weight: 200 !important;
  // height: 19px;
  // padding: 2px 6px !important;
  background-color: #d93d32;
}

.accept_chat .icon,
.reject_chat .icon {
  // width: 20px;
  // font-weight: 500;
  // height: 15px;
}

.reject_chat {
  // margin: 0 110px 0 0px;
}

.accept_chat .icon {
  // height: 14px;
}
.reject_chat .icon {
  // height: 11px;
  // margin: 2px 0 0px 0;
}

.msgNotify,
.msgNotify_client {
  width: auto !important;
  background: rgb(152 150 150 / 18%) !important;
  font-weight: 500;
  color: rgb(0 0 0 / 73%);
  font-weight: 500;
  position: relative;
  left: 50%;
  top: 10px;
  display: inline-block;
  transform: translateX(-50%);
  justify-content: center;
  font-size: 10px;
  margin: 0 auto;
  padding: 2px 11px;
  line-height: 19px !important;
  border-radius: 7px;
  margin: 0 0 5px 0;


  padding: 16px;
  height: 0;
}

.msgNotify_client {
  left: inherit !important;
  color: #00000080;
  background: rgb(152 150 150 / 14%) !important;
  transform: inherit !important;
}

.msgNotify_sum {
  left: 50% !important;
  display: inline-block !important;
  margin: 10px 0 !important;
  transform: translateX(-50%) !important;
}

.message_container{
  height: 30px;
  width: 30px;
  justify-content: center;
  border-radius: 35px;
  padding: 0 15 0 15;
  font-size: 10px;
  
}
.message_letter{
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 10px;

}

.anchor_text{
  text-decoration: underline !important;
}

a{
  text-decoration: underline !important;
}