.container-wa .floating-button {
  position: fixed;
  /* bottom: 7%;
  right: -10px; */
  top: 0;
  right: 402px;
  width: 65px;
  height: 0px;
  /* background-color: #1447d4; */
  color: #000;
  text-align: center;
  font-size: 20px;
  cursor: pointer;
  box-shadow: none;
  z-index: 1000;
  border-top-left-radius: 34px;
  border-bottom-left-radius: 34px;
}
.close {
  display: none;
}
.container-teams .floating-button-teams .icon,
.container-wa .floating-button .icon {
  position: absolute;
  top: 17px;
  left: 0px;
  right: 25px;
  line-height: 60px;
  text-align: center;
  transition: all 0.3s;
  font-size: 19px;
}

.icon::before {
  font-size: 25px;
}

.daileriframecss {
  width: 100%;
  height: 90%;
  transition: none;
  border: none;
  position: fixed;
  top: 54px;
  display: none;
}
