.btn-primary-bluedial {
  color: #fff;
  background-color: #1447d4;
  border-color: #1447d4;
}

.btn-primary-bluedial:hover {
  color: #fff;
  background-color: #56bcf0;
  border-color: #56bcf0;
}

.container-teams .close {
  color: #1447d4;
}

.container-teams .floating-button-teams {
  position: fixed;
  bottom: 18%;
  right: -10px;
  width: 60px;
  height: 60px;
  background-color: #ffff;
  /* color: #1447d4; */
  text-align: center;
  font-size: 20px;
  cursor: pointer;
  box-shadow: 0px 2px 5px #666;
  z-index: 1000;
  border-top-left-radius: 34px;
  border-bottom-left-radius: 34px;
}

.float-btn-close-teams {
  top: 10px !important;
}

.pt-9 {
  padding-top: 5rem !important;
}

.container-wa .floating-button {
  position: fixed;
  bottom: 7%;
  right: -10px;
  width: 60px;
  height: 60px;
  background-color: #1447d4;
  color: white;
  text-align: center;
  font-size: 20px;
  cursor: pointer;
  box-shadow: 0px 2px 5px #666;
  z-index: 1000;
  border-top-left-radius: 34px;
  border-bottom-left-radius: 34px;
}

.card-dial h1 {
  text-align: center;
  font-size: 1.2rem;
  color: #212529;
  text-transform: capitalize;
  font-weight: 400;
  padding: 15px;
  background: white;
}

.heading {
  border-bottom: 1px solid #1447d4;
}

.container-teams .floating-button-teams:hover,
.container-wa .floating-button:hover {
  background-color: #56bcf0;
}

.container-teams label,
.container-wa label {
  font-size: 13px;
  color: #31312f;
}

.container-teams .floating-button-teams .icon,
.container-wa .floating-button .icon {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  line-height: 60px;
  text-align: center;
  transition: all 0.3s;
  font-size: 19px;
}

.container-teams .floating-button-teams .icon.wa,
.container-wa .floating-button .icon.wa {
  animation: wa-out 0.3s;
}

.container-teams .floating-button-teams .icon .close,
.container-wa .floating-button .icon.close {
  opacity: 0;
  margin: auto;
  transform: rotateZ(-70deg);
  animation: close-out 0.3s;
}

.container-teams .card-dial,
.container-wa .card-dial {
  font-family: "Quicksand", sans-serif;
  position: absolute;
  width: 330px;
  height: 100vh;
  background-color: #ffffff;
  right: 0px;
  bottom: 0;
  display: none;
  z-index: 10000;
  box-shadow: 0 10px 30px rgb(20 71 212 / 26%);
  border-top-left-radius: 27px;
  border-bottom-left-radius: 27px;
}

.card-dial .form-control:focus {
  box-shadow: 0 0 0 0.2rem rgb(0 123 255 / 0%);
}

.container-teams .card-dial .banner-body,
.container-wa .card-dial .banner-body {
  flex-grow: 1;
  background-color: #eaeaea;
  padding: 15px;
}

.container-teams
  .card-dial
  .banner-body
  .card-atendente
  .container-wa
  .card-dial
  .banner-body
  .card-atendente {
  margin-top: -50px;
  background-color: white;
  padding: 15px;
  display: flex;
  flex-direction: column;
  border-radius: 15px;
}

.container-teams .card-dial .banner-body .card-atendente .dados-atendente,
.container-wa .card-dial .banner-body .card-atendente .dados-atendente {
  display: flex;
}

.container-teams
  .card-dial
  .banner-body
  .card-atendente
  .dados-atendente
  .avatar,
.container-wa .card-dial .banner-body .card-atendente .dados-atendente .avatar {
  padding: 15px;
}

.container-teams
  .card-dial
  .banner-body
  .card-atendente
  .dados-atendente
  .avatar
  img {
  border-radius: 50%;
}

.container-teams
  .container-wa
  .card-dial
  .banner-body
  .card-atendente
  .dados-atendente
  .informacoes,
.container-wa
  .card-dial
  .banner-body
  .card-atendente
  .dados-atendente
  .avatar
  img {
  border-radius: 50%;
}

.container-teams
  .container-wa
  .card-dial
  .banner-body
  .card-atendente
  .dados-atendente
  .informacoes {
  padding: 15px;
}

.container-teams .card-dial .banner-body .card-atendente .botao-atendente,
.container-wa .card-dial .banner-body .card-atendente .botao-atendente {
  display: flex;
}

.container-teams .card-dial .banner-body .card-atendente .botao-atendente .btn,
.container-wa .card-dial .banner-body .card-atendente .botao-atendente .btn {
  color: white;
  background-color: #24d366;
  border-radius: 15px;
  width: 100%;
  padding: 10px;
  text-align: center;
  text-decoration: none;
}

.container-teams.is-opened .icon.wa,
.container-wa.is-opened .icon.wa {
  animation: wa-in 0.15s linear;
  animation-fill-mode: forwards;
}

.container-teams.is-opened .icon.close,
.container-wa.is-opened .icon.close {
  animation: close-in 0.2s;
  animation-delay: 0.1s;
  animation-fill-mode: forwards;
}

.container-teams.is-opened .card-dial,
.container-wa.is-opened .card-dial {
  display: flex;
  flex-direction: column;
  position: fixed;
}

.container-teams.is-opened .icon.wa,
.container-wa.is-opened .icon.wa {
  animation: wa-in 0.15s linear;
  animation-fill-mode: forwards;
}

.container-teams.is-opened .icon.close,
.container-wa.is-opened .icon.close {
  animation: close-in 0.2s;
  animation-delay: 0.1s;
  animation-fill-mode: forwards;
}

@keyframes close-in {
  from {
    opacity: 0;
    transform: rotateZ(-70deg);
  }
  to {
    opacity: 1;
    transform: rotateZ(0deg);
  }
}

@keyframes close-out {
  from {
    opacity: 1;
    transform: rotateZ(0deg);
  }
  to {
    opacity: 0;
    transform: rotateZ(-70deg);
  }
}

@keyframes wa-in {
  from {
    opacity: 1;
    transform: rotateZ(0deg);
  }
  to {
    opacity: 0;
    transform: rotateZ(180deg);
  }
}

@keyframes wa-out {
  from {
    opacity: 0;
    transform: rotateZ(180deg);
  }
  to {
    opacity: 1;
    transform: rotateZ(0deg);
  }
}

/* dial pad  */

#numDisplay {
  padding: 0 5px;
  box-sizing: border-box;
  width: 100%;
  border: 0px;
  background: #ffffff;
  color: #212529;
  font-size: 25px;
  text-align: right;
  height: 70px;
  display: flex;
  justify-content: end;
  align-items: center;
  align-content: center;
}

#numPad {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

#numBWrap {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  width: 90%;
  align-items: center;
}

#numBWrap .dot,
#numBWrap .num,
#numBWrap .zero {
  background: #f1f1f1;
}

.start {
  padding-top: 16px;
  font-size: 2rem;
}

#numBWrap .num {
  border: #000 !important;
  border-width: 1px !important;
  font-size: 15px;
  color: #212529;
  text-align: center;
  padding: 15px 0;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin: 5px;
  font-weight: bold;
}

#numBWrap .ok {
  font-size: 15px;
  color: #fff;
  text-align: center;
  padding: 15px 0;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin: 5px;
}

#numBWrap .clr,
#numBWrap .del {
  background: #333;
}

#numBWrap .ok {
  background: #03a640;
}

.zero:active,
.num:active {
  /* background:black !important;
  border-top-color: black; */
}

.ok:active {
  background: #4bbc75 !important;
  border-top-color: #4bbc75;
}

/* call details  */

/* .call_details {
    position: fixed;
    bottom: 10px;
    right: 12px;
    width: 260px;
    background-color: #000000cf;
    color: white;
    border-radius: 11px;
    text-align: center;
    font-size: 35px;
    cursor: pointer;
    box-shadow: 0px 2px 5px #666;
    z-index: 1000;
} */

.number-detais {
  font-size: 14px;
}

.time-detais {
  font-size: 10px;
  color: #7c7cc4;
}

.info-main a:hover {
  display: block;
  position: relative;
}

.call-box,
.info-table {
  display: none;
}

.call-box,
.info-table {
  /* display: block; */
  background-color: #ffff;
  padding: 8px;
  position: absolute;
  box-shadow: 1px 1px 3px 2px #0056b31f;
  border-radius: 4px;
  width: 500px;
}

.info-call h1,
.info-table h1 {
  font-size: 13px;
  text-align: center;
  /* background: #f6f5f5; */
  padding: 0.7rem;
  border-radius: 7px;
  color: #000;
  font-weight: 700;
}

.info-table table {
  font-size: 11px;
}

.txt-9 {
  font-size: 9px !important;
}

.call-reason,
.call-reason option {
  font-size: 0.9rem;
}

.dial-back {
  color: #212529;
  font-size: 1.4rem;
}

.dial-back i:active {
  color: #386dff;
}

.dial-btn .btn:hover {
  box-shadow: rgba(0, 0, 0, 0.15) 0 3px 9px 0;
}

.dial-btn {
  touch-action: manipulation;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

/* .dial-btn .btn-danger:not(:disabled):not(.disabled).active:focus,
.dial-btn .btn-danger:not(:disabled):not(.disabled):active:focus,
.show>.dial-btn .btn-danger.dropdown-toggle:focus {
    box-shadow: 5px 5px 7px 0rem rgb(225 83 97 / 50%) !important;
}

.dial-btn .btn-success:not(:disabled):not(.disabled).active:focus,
.dial-btn .btn-success:not(:disabled):not(.disabled):active:focus,
.show>.dial-btn .btn-success.dropdown-toggle:focus {
    box-shadow: -5px 5px 7px 0rem rgb(72 180 97 / 50%);
}

.dial-btn .btn-secondary:not(:disabled):not(.disabled).active:focus,
.dial-btn .btn-secondary:not(:disabled):not(.disabled):active:focus,
.show>.dial-btn .btn-secondary.dropdown-toggle:focus {
    box-shadow: -5px 5px 7px 0rem rgb(130 138 145 / 50%);
}

.dial-btn .btn-info:not(:disabled):not(.disabled).active:focus,
.dial-btn .btn-info:not(:disabled):not(.disabled):active:focus,
.show>.dial-btn .btn-info.dropdown-toggle:focus {
    box-shadow: 0px 0px 20px 0.3rem rgb(58 176 195 / 50%);
} */

.dial-btn .btn-danger:focus {
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset,
    rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset,
    rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px,
    rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px,
    rgba(0, 0, 0, 0.09) 0px 0px 8px;
}

.dial-btn .btn-info:focus {
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset,
    rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset,
    rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px,
    rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px,
    rgba(0, 0, 0, 0.09) 0px 0px 8px;
}

.dial-btn .btn-secondary:focus {
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset,
    rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset,
    rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px,
    rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px,
    rgba(0, 0, 0, 0.09) 0px 0px 8px;
}

.dial-btn .btn-success:focus {
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset,
    rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset,
    rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px,
    rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px,
    rgba(0, 0, 0, 0.09) 0px 0px 8px;
}

/* overflow  */

.card-over {
  overflow: unset !important;
}

.close-btn .btn:hover {
  background: #f5f5f5;
  color: #dc3545;
}

.text-1 {
  font-size: 1.2rem;
}

/* overflow  end*/

/* caller details  */

.call_details_1,
.incomecall_details {
  top: 132px !important;
  left: 85px !important;
  width: 263px !important;
  height: 75px !important;
  background: #00498f !important;
  box-shadow: none !important;

  position: fixed;

  color: white;
  border-radius: 11px;
  text-align: center;
  font-size: 35px;
  cursor: pointer;

  z-index: 99999;
}

.call-user-inc-next {
  display: flex;
  width: 40px;
  height: 40px;
  position: absolute;
  left: -5px;
  top: 2px;
  background: #fff;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  font-size: 1.7rem;
  color: #316ed7;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

.incomeing-details,
.number-details {
  font-size: 17px;
  text-align: center;
  font-weight: 600;
}

.incomeing-details p,
.number-details p {
  margin-bottom: 0 !important;
}

.time-details {
  text-align: center;
  font-size: 12px;
  color: #173465;
  margin-top: 5px;
  margin-bottom: 0 !important;
}

/* incoming call  */

.call-animation {
  background: #fff;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  /* animation: call 1.5s ease infinite; */
  color: #00498f;
  font-size: 18px;
  font-weight: bold;
  position: relative;
  box-shadow: rgb(0 0 0 / 0%) 0px 1px 3px, rgb(0 0 0 / 14%) 0px 1px 2px;
}

.call-animation-new {
  width: 40px;
  height: 40px;
  color: #00498f !important;
}
.income-call-icon {
  padding: 0 !important;
  height: 0 !important;
  position: absolute !important;
  left: 20px !important;
  top: 18px !important;
  margin: 0 !important;
}
.w-33 {
  width: 33%;
}
.incomeing-details small {
  font-size: 75%;
  font-weight: 200;
}
.unmute {
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  border-radius: 0.25rem !important;
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}
.dial-btn small {
  font-size: 65%;
  font-weight: 200;
}
.flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: center;
}
@keyframes call {
  15% {
    box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.5);
  }
  25% {
    box-shadow: 0 0 0 8px rgba(255, 255, 255, 0.5),
      0 0 0 16px rgba(255, 255, 255, 0.3);
  }
  30% {
    box-shadow: 0 0 0 12px rgba(255, 255, 255, 0.5),
      0 0 0 24px rgba(255, 255, 255, 0.3);
  }
}

.iconText {
  display: flex;
}

.call-icon-incom {
  margin: 12px 0px;
}

.is-calling-you {
  color: #fff !important;
  font-weight: 500 !important;
  font-size: 13px !important;
}
.dial-btn-new {
  box-shadow: none !important;
  width: 68%;
  /* width: 44% !important; */
  /* margin: -15px 35% !important; */
}
.dial-btn-new button {
  border-radius: 50% !important;
  width: 0 !important;
  padding: 0 !important;
  height: 37px !important;
}
.dailed_timer {
  margin: -38px 0 0 30px;
  color: #fff;
  font-weight: 500;
}

.dial-btn-in-new {
  height: 47px;
  margin: 0 0 0 50px;
  box-shadow: none !important;
}

.dial-btn-in-new button {
  padding: 10px !important;
  border-radius: 5px !important;
  background: none !important;
  border: 0 !important;
}

.dial-btn-in-new button:hover {
  background: none !important;
  border: 0 !important;
}

.time-details-new {
  margin: -19px 0 0 80px;
}

#incoming_dailed_timer {
  font-weight: 500;
  color: #fff;
}

.inc_callednumber {
  color: #fff;
  font-weight: 500;
}

.number-details {
  margin: -5px 0 0 -15px;
}

#incoming_number {
  padding: 0 !important;
  margin: -7px 0 5px -31px !important;
  height: 0 !important;
  color: #fff !important;
}

.number-details-new {
  font-weight: 500;
  color: #d93d32 !important;
}
