.App {
  text-align: center;
  font-family: 'Noto Sans' !important;
}

.mail_message{
  overflow-y: auto;
  height: 17rem;
}

.mail_message::-webkit-scrollbar{
display: none !important;
}

.modal-title{
  color: white !important;
}

.location_div{
  overflow-y: auto;
}
.location_div::-webkit-scrollbar{
  display: none;
}

.userInfo_div::-webkit-scrollbar{
  display: none;
}

.typing {
  margin: 4px;
  height: 30px;
}

@media (prefers-reduced-motion: no-preference) {
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.sider_div {
  min-height: 100vh;
  max-height: 67vh;
  position: absolute !important;
  /* position: relative; */
  // width: 32%;
  width: 50%;
  background: #f8f9fd;
  display: flex;
  flex-direction: column;
  right: 9px;
  // top: 86px;
  top: 0;
}
.filter_cust{
  margin-left: 10rem !important;
}

.top_btn {
  background-color: #00498f !important;
  padding: 8px !important;
}

.apply-btn:hover{
  color: white !important;
}


.top_btn .icon_top-btn,
.last_btn .icon_top-btn {
  color:gray !important;
  width: 18px;
  height: 18px;
}

.btn_hover:hover{
  color: white !important;
}

.top_btn .icon_top-btn,
.last_btn .icon_top-btn:hover {
  color:white !important;
  width: 18px;
  height: 18px;
}




.last_btn {
  position: relative;
  background-color: green !important;
}

.end_btn {
  position: relative;
  background-color: #b50000e0 !important;
}

.transfer_btn {
  position: relative;
  background-color: #252538 !important;
}

.conf_btn {
  position: relative;
  background-color: #72727a !important;
}
// =======
// .top_btn {
//   background-color: #f8f9fd !important;
// >>>>>>> 81702b4f8a20eac0bfc2e108c24bfe3fe5485a17
// }

.flexibleWidth {
  background-color: red;
}
.long {
  width: 56% !important;
  margin-left: 0px;
}
.short {
  width: 56% !important;
  margin-left: 0px;
}

.contact_div {
  height: 52.3vh;
  position: absolute !important;
  /* position: relative; */
  width: 96%;
  background: #f8f9fd;
  display: flex;
  flex-direction: column;
  right: 6px;
  top: 47px;
}

// @keyframes slidein {
//   from {
//     margin-left: 100%;
//     width: 150px;
//   }

//   to {
//     margin-left: 0%;

//   }
// }

.icon_for_calculator {
  position: relative;
  bottom: 54rem;
  left: 50rem;
}
.testIcon {
  position: absolute !important;
  right: 23px !important;
}
.icon_for_calculator {
  position: relative;
  bottom: 54rem;
  left: 56rem;
}

.modal-content {
  width: 70% !important;
}

.modal-footer {
  display: flex;
  justify-content: center !important;
}

.fix-modal {
  margin-top: -25px !important;
  margin-left: 259px !important;
  width: 30px !important;
  height: 10px !important;
  background-color: transparent !important;
  border: none !important;
}

.App-link {
  color: #61dafb;
}

.join:active {
  background-color: #00498f !important;
}

.initiate:active {
  background-color: #00498f !important;
}

.initiate {
  width: 100% !important;
  height: 70px !important;
}

.common-text-color:active {
  color: white !important;
}

.modal-footer .btn {
  width: 45% !important;
}


.nav-tabs .nav-link.active{
  background-color: #00498f !important;
color: white !important;
}
.request-btn {
  margin-left: 260px !important;
  margin-top: -25px !important;
  position: absolute !important;
  width: 30px !important;
  height: 20px !important;
  background-color: transparent !important;
  border: none !important;
}

.modal-content {
  margin: auto !important;
  // margin-top: 70px !important;
}

.url-btn {
  height: 200px !important;
}

.modal-body .btn {
  width: 90% !important;
  height: 70px !important;
}

.tab_icon {
  border-radius: 50% !important;
}

.nav-tabs {
  display: flex !important;
  gap: 16px;
  // border-radius: 40px;
}
.expand_icon {
  margin-left: 20px !important;
}
.nav-item {
  background-color: none !important;
  // color: white !important;
}
.change_font_size{
  font-size: 11px;
}
.circle {
  display: flex;
  border-radius: 50%;
  width: 24px;
  height: 20px;
  padding: -3px -13px;
  background-color: rgb(229, 227, 227);
  padding: 4px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.toggle_btn {
  position: relative;
  bottom: 415px;
  left: 745px;
}

.chat-container {
  height: 375px;
}

@media only screen and (min-height: 668px){

  .chat-container {
  height:445px !important;
  
  }
  .header_button{
    margin-right: 7px !important;
  }
}

@media only screen and (min-height:400px) and (max-height:600px) {
  .chat-container {
     height: 323px !important;
     
 
   }

   .icon_top-btn_small {
    font-size: 10px !important;
    height: 11px !important;
    width: 11px !important;

   }

   .button_container-div {
    padding: 0 !important;
   }
  //  .header_button{
  //    margin-right: 30px !important;
  //  }
  //  .chat_fix{
  //    margin-left: -25px;
  //    width: 100%;
  //  }
 }
 

@media only screen and (min-height:450px) and (max-height:546px) {
  
  .chat-container {
     height: 337px !important;
 
   }
   .header_button{
     margin-right: 10px !important;
   }
   .chat_fix{
     margin-left: -25px;
     width: 100%;
   }
 }

@media only screen and (min-height:670px) and (max-height:752px) {
 .chat-container {
    height: 493px !important;
    

  }
  .header_button{
    margin-right: 30px !important;
  }
  .chat_fix{
    margin-left: -25px;
    width: 100%;
  }
}


// @media only screen and (max-height: 752px) {

//   .chat-container {
//   height:555px !important;
//   }
// }




// @media only screen and (min-height: 1200px) {
//   .chat-container {
//     max-height:720px !important;
//   }
// }

.tab_content_userinfo {
  // background-color: #f8f9fd !important;
  color: black;
}

.CircularProgressbar-background {
  fill: #499dc6 !important;
}
//start video call custom ui
.video-remote {
  width: 50% !important;
  height: 200px !important;
  margin-left: 70px !important;
  border-radius: 40px !important;
}

.rounded-input {
  border-radius: 10px !important;
}

.phone-chat {
  margin-top: -23px !important;
  width: 20% !important;
  height: 30px !important;
}

.custom-border {
  border-right: 1px solid grey !important;
}

.attach-icon-phone {
  margin-top: 6px !important;
}

.conference_modal {
  position: relative;
  right: 464px;
  top: 22px;
  background: none !important;
  border: none !important;
}
.newnoti {
  width: 30rem !important;
  margin-top: 300px;
  margin-left: 200px;
}

// .videocall-container{
//   width: 80% !important;
// }

// .video-call-footer{
//   width: 100% !important;
//   height: 40px !important;
//   border-radius: 10px !important;
//   // box-shadow: 0px 1px 0px 1px !important;
//   margin-left: 13px !important;
//   margin-top: -5% !important;
// }

// .video-btn-control{
//   margin-top: -3% !important;
// }

.conference_modal {
  position: relative;
  right: 464px;
  top: 22px;
  background: none !important;
  border: none !important;
}

.modal-content-new .modal-content {
  width: inherit !important;
  z-index: 99999;
}

.top-tab-icons {
  width: 18px;
  height: 18px;
}

.income-call-icons_new {
  margin: 0 !important;
  padding: 0 !important;
  height: 0px !important;
  width: 35px !important;
}

.chat-call-ani {
  width: 38px;
  height: 35px;
  top: -5px;
  height: 35px !important;
}

.chat-incom-call {
  top: 132px !important;
  left: 85px !important;
  width: 263px !important;
  height: 75px !important;
  background: #00498f !important;
  box-shadow: none !important;
}

.next-action-action {
  background: #00498f !important;
  top: 132px !important;
  left: 85px !important;
  width: 263px !important;
  height: 74px !important;
  box-shadow: none !important;
}

.action-call-user {
  position: absolute;
  left: -10px;
  top: 12px;
  width: 40px !important;
  height: 40px !important;
}

.action-btn {
  // height: 37px !important;
  // width: 45px !important;
  // border-radius: 0 !important;
  // padding: 0px 0;
  // max-width: 0 !important;
  // height: 30px !important;
  padding: 0;
  width: 0;
  min-width: 0 !important;
  width: 0 !important;

  color: #fff !important;
  border: 0;
}

.dial-action .btn:hover {
  box-shadow: none !important;
}

.dial-action {
  box-shadow: none !important;
  margin: 2px 0 0 48px;
  top: -13px;
  left: 43px;
}

.number-details-action .p-two {
  float: left !important;
  font-weight: 500;
  padding: 5px 0px 0px 28px !important;
}

.number-details-action .p-one {
  position: absolute;
  left: 42px;

  top: 31px;
  font-weight: 500;
}

.number-details p {
  color: #fff !important;
}

.end-call-btn {
  color: red !important;
}

.transferCall-modal .modal-header .close {
  top: -5px;
  right: 5px;
  position: absolute;
}

.transferCall-modal .modal-content {
  top: 160px !important;
}
.transferCall1-modal .modal-content {
  top: 120px !important;
}

.attachment_icon {
 
}

.end_chat-modal{
  width: 78rem !important;
  height: 15rem !important;
}


.sidebar_filter{
  position: 'absolute';
  top:0;
  width:'84rem';
  z-index:1;
  left:'11rem'




}

.notification-bar.teaching[_ngcontent-ois-c178]{
  display: none !important;
}

.position-static[_nghost-nem-c178] .notification-bar[_ngcontent-nem-c178]{
  display: none !important;
}


.facility_select{
border-color:black !important;
outline: 0 !important;
box-shadow: none !important;
}


#report-container{
  height: 108vh;
  position: relative;
  top: -54px;
  overflow: hidden;
}















