.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 120px;
    z-index: 1;
    background-color: #f5f6f7;
    padding-top: 20px;
}

.sidebar ul {
    position: relative;
    text-align: center;
    list-style: none;
    margin: auto;
    padding: 0;
}

.sidebar ul li a {
    display: block;
    text-decoration: none;
    padding: 10px;
    color: rgb(7, 7, 7);
}

.svg {
    width: 20px;
    margin-bottom: 5px;
}

.sidebar ul li {
    margin-bottom: 5px;
}

.sidebar ul li a:hover {
    background: #064a93;
    color: #fff;
}


.sidebar ul ul {
    position: absolute;
    top: -20px;
    right: -350px;
    width: 150px;
    height: 100vh;
    background: #dadada;
    display: none;
    overflow-y: auto;
    overflow-y: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
    padding: 10px 0;
}

.sidebar ul ul::-webkit-scrollbar {
    display: none;
}

.team {
    top: -96px !important;
}

.chat {
    top: -172px !important;
}

.calender {
    top: -248px !important;
}

.dropdown {
    position: relative;
}

.dropdown:hover ul {
    display: inline;
}

.chat li:hover {
    color: rgb(255, 255, 255);
    background: rgb(6, 74, 147);
}

.sidebar-setting {
    position: absolute;
    text-align: center;
    bottom: 20px;
    left: 0px;
    width: 100%;
}

.log {
    overflow-x: hidden !important;
    overflow-y: scroll !important;
    height: 493px;
    
}

.log::-webkit-scrollbar {
    display: none;
}
