.video-fluid {
    width: 100% !important;
    height: 100% !important;
    margin: auto !important;
    /* border-radius: 30% !important; */
    margin-top: -21% !important;
    display: flex !important;
    justify-content: center !important;
    margin-left: 15px !important;
}




.small-size-text{
    font-size: 8px;
    color: #ccc;
}

.video-main-container{
    width:100%;
    height:auto;
}

.name-title{
    color: #ccc;
    font-size: 10px;
}

.video-call-header{
    /* border: 3px solid black; */
}

.img-border{
    display: inline;
    border: 2px solid white;
    border-radius: 50%;
    width: 35%;
    height: 40px;
}

.top-header{
    width: 80%;
}

.arrow-icon{
    width: 40px;
    height: 30px;
    border-radius: 10px;
    background-color: #ccc;
    padding: 7px;
    cursor: pointer;
}

.team-container{
    width: 80px;
    height: 30px;
    border-radius: 10px;
    background-color: #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.arrange-text-font{
    font-weight: bold;
}


.cursor{
    cursor: pointer;
    font-weight: 500;
}

.live-content-display{
    position: relative !important;
    margin-top: -59% !important;
}

.common-text-arrange{
    font-size:10px;
}

#localVideoElement{
    position: relative;
}

.video-footer .btn {
    width: 10%;
}

.space-member__avatar{
    background-color: blue !important;
}

.live-video-btn{
    /* margin-top: -25% !important; */
    width: 100% !important;
    display: flex !important;
    justify-content: center !important;
}

.settings-btn{
    border-radius: 50% !important;
    width: 170px !important;
    height: 40px;
}

.recordingStart-btn-main{
    border-radius: 20px !important;
    width: 11% !important;
    height: 55px !important;
    margin-top: -1px !important;
    cursor: pointer !important;
}

.audioOff-btn{
    border-radius: 50% !important;
    width: 170px !important;
    height: 40px !important;
}

.recordingStart-btn{
    border-radius: 50% !important;
    width: 10% !important;
    height: 45px !important;
    padding: 5px 10px;
    cursor: pointer !important;
}

.setting-icon{
    width: 100% !important;
    height: auto !important;
}

/* .video-main-container {
    background-color: pink;
    transform: rotate(90deg) translateX(180px);
  } */

.side-img-video{
    margin-left: 420px;
}

.videocall-footer{
    width: 100% !important;
    height: 62px !important;
    align-items: center;
    display: flex;
    justify-content: center;
}

/* .chat-page-container{
    height: 300px !important;
}  */

.video-footer .btn-group {
    width: 10%;
}

.dropdown-toggle::after {
    display: none;
}

.message {
    /* position: absolute;
    right: 14px;
    top: 79px;
    background: red;
    height: 34.79rem; */
}

.message .nav-link {
    padding: 0.9rem 0.4rem;
}

.videocall {
    position: relative;
}

.display {
    z-index: 1 !important;
    display: block;
    position: absolute;
    right: 0px;
    top: 0px;
    background: #fff;
    height: 100%;
    width: 100%;
    border: 1px solid #dee2e6!important;

    }

.chat-video-2{
    /* position: absolute; */
        position: relative;
        right: -17px;
        z-index: 999;
        width: 180px;
        height: auto;
        /* border-radius: 80px; */
    }

.reply-content .dropdown-item {
    padding: 3px !important;
}

.reply-sub textarea {
    color: #000;
    border: none;
    resize: none;
    font-size: 14px;
}

.reply-sub .form-control:focus {
    color: #000;
    background-color: #f4f1f1;
    border-color: #ffffff00;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgb(13 110 253 / 0%);
}

.incoming_msg_img {
    display: inline-block;
    width: 6%;
}

.incoming_msg_img {
    display: inline-block;
    width: 6%;
}

img {
    max-width: 50%;
   
}

.received_msg {
    display: inline-block;
    padding: 0 0 0 10px;
    vertical-align: top;
    width: 92%;
}

.time_date {
    color: #747474;
    display: block;
    font-size: 12px;
    margin: 8px 0 0;
}

.received_withd_msg p {
    background: #ebebeb none repeat scroll 0 0;
    border-radius: 3px;
    color: #646464;
    font-size: 14px;
    margin: 0;
    padding: 5px 10px 5px 12px;
    width: 100%;
}

.outgoing_msg {
    overflow: hidden;
    margin: 26px 0 26px;
}

.btn{    
    /* height: 26px !important;
        width: 56px !important; */
    }
    .sendnew{
        width: 70px;
        height:40px !important;
        background: none !important;
        border: none !important;
        
    }
    

.sent_msg p {
    background: #05728f none repeat scroll 0 0;
    border-radius: 3px;
    font-size: 14px;
    margin: 0;
    color: #fff;
    padding: 5px 10px 5px 12px;
    width: 100%;
}

.sent_msg {
    float: right;
    width: 46%;
}

.received_withd_msg {
    width: 57%;
}