.sidebar {
  border-right: none;
  color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 50px;
  z-index: 1;
  background-color:#0b3363 ;
  
}

.active-side-menu-link{
  background-color: #0c4fa5;
}

.sidebar ul {
  position: relative;
  text-align: center;
  list-style: none;
  margin: auto;
  padding: 0;
}

button:focus {
  outline: 1px dotted;
  outline: none !important;
}
.svg {
  width: 20px;
  margin-bottom: 5px;
}

.active {
  /* background-color: #e8f1fc; */
  /* color: #000 !important; */
}

.active-contact-btn {
  background-color: #fff;
  color: #000 !important;
}

.active-contact {
  background-color: #b7c1dd;
  color: #fff !important;
}

.sidebar ul ul {
  position: absolute;
  top: -20px;
  right: -350px;
  width: 350px;
  height: 100vh;
  background: #dadada;
  display: none;
  overflow-y: auto;
  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
  padding: 10px 0;
}

.sidebar ul li a {
  color: #000;
}

.sidebar ul ul::-webkit-scrollbar {
  display: none;
}

.team {
  top: -96px !important;
}

.chat {
  top: -172px !important;
}

.calender {
  top: -248px !important;
}

.dropdown {
  position: relative;
}

.dropdown:hover ul {
  display: inline;
}

.chat li:hover {
  color: #fff !important;
  background: #00498f;
}

.sidebar-setting {
  position: absolute;
  text-align: center;
  bottom: 0;
  left: 0;
  width: 100%;
}

.chatlist-main {
  /* height: 100vh; */
}

.tabcontent {
  height: 100vh;
  background: #ffff;
  padding: 5px 7px 5px 5px;
  border-right: 1px solid #cccccc36;
}

.list-chat .space-member-dm:hover {
  cursor: pointer;
  background: none;
}

.tablinks {
  padding: 25px 8px 0 8px;
  margin: 4px 0 0 0 !important;
  width: 100%;
  height: 60px !important;
  background: no-repeat;
  box-shadow: none;
  border: none;
  color: #000;
  font-size: 12px;
}

.tablinks_active {
  padding: 25px 8px 0 8px;
  margin: 4px 0 0 0 !important;
  width: 100%;
  height: 60px !important;
  background: no-repeat;
  box-shadow: none;
  border: none;
  color: #000;
  font-size: 12px;
  background-color: #1473e6;
}

.tablinks:hover {
  /* background: #00498f;
  color: #fff;
  height: 60px !important; */
}

.recive-hed {
  background: white !important;
  color: #fff;
  width: 70%;
  height: 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 6px 15px;
  /* border-bottom: 1px solid red; */
  /* box-shadow: 6px 1px 7px 0px #00000094; */

}

.user_text_trans{
  text-transform: capitalize !important;
}
.newheader {
  background-color: #00498f !important;
}

.call button {
  padding: 5px 9px;
  box-shadow: none;
  background-color: #aebbc800;
  border: none;
  border-radius: 7px;
  font-size: 12px;
  color: #fff;
}

.call button:focus {
  outline: none;
}

.user-new .space-member {
  align-items: center;
  display: flex;
  margin-bottom: 0;
}

.user-img img {
  margin-right: 10px;
  height: 35px;
  width: 35px;
  max-width: 100%;
  border-radius: 50%;
}
.call button{
  color: black !important;
}

.call button:hover {
  background-color:gray;
  transition: 0.5s ease-in;
  color: white !important ;
}

.user-new .user-img img {
  height: 35px;
  width: 35px;
  max-width: 100%;
  border-radius: 50%;
}

.user-new p {
  margin-bottom: 0;
  font-size: 10px;
}

.team-hed {
  color: #d1d1d1;
  font-weight: 500;
}

.user-new .space-member__displayname {
  font-weight: 600 !important;
  font-size: 15px;
}

.chat-main {
  margin-top: 54px;
}

.chat-main a {
  padding: 15px 0px;
  /* background: #0d6efd; */
  margin: 0;
}

.chat-content {
  padding-left: 62px;
  /* padding-top: 5px; */
  height: auto;
  overflow: hidden;
}
.log .btn {
  width: 100% !important;
  background: #00498f;
  border-color: #00498f;
}
.modal-footer .btn {
  width: 15% !important;
}
#chat h3 {
  font-size: 17px;
  border-bottom: 1px solid #000;
  padding-bottom: 15px;
  color: #000;
}

/* .list-chat:hover {
    background: #00498f;
    color: #fff;
} */

/* .list-chat-contact:hover {
    background: #00498f;
    color: #fff;
} */

.list-chat {
  margin-bottom: 5px;
  display: flex;
  font-size: 13px;
  border-radius: 10px;
  padding: 0px 10px;
  align-items: center;
  cursor: pointer;
}

.internal-list-chat {
  padding: 5px 10px !important;
}

.internal-list-chat:hover {
  background: #fff;
  padding: 5px 10px;
}

.icon_top-btn:hover{
  color: white !important;
}

.icon_top-btn_small{
  color: gray !important;

}


.icon_top-btn_small:hover{
  color: white !important;

}




.list-chat-contact {
  margin-bottom: 3px;
  display: flex;
  font-size: 13px;
  border-radius: 10px;
  padding: 7px 10px;
  align-items: center;
  cursor: pointer;
}

.list-chat .space-member img {
  margin-right: 10px;
  border: none;
  height: 28px;
  width: 28px;
  max-width: 100%;
  border-radius: 50%;
}

.chat-name p {
  margin-bottom: 1px;
  font-size: 11px;
}

#chat .active p {
  background-color: transparent;
  /* color: #000 !important; */
}

.chat-name .space-member__displayname {
  font-weight: 500 !important;
}

.chat-name .space-member__username {
  color: #363a3f;
}

.sidebar-content {
  /* height: 543px; */
  height: 650px;
  overflow: hidden;
  margin: 0 !important;
}

.chat-contacts {
  overflow-x: hidden;
  overflow-y: scroll;
  height: 90vh;
  padding-bottom: 20px;
}

.chat-contacts::-webkit-scrollbar {
  display: none;
}

.chat-name {
  padding-left: 5px;
}

.navbar {
  border-bottom: 1px solid #f1f1f3;
  justify-content: space-between !important;
}

.navbar-brand img {
  /* width: 40px; */
  max-width: 100%;
}

/* chat section */

.startTime,
.endTime {
  font-size: 13px;
  color: #000;
}

.meeting,
.post {
  display: block;
  background: #ffffff;
  box-shadow: 1px 2px 3px 0px #00000070;
  border-radius: 7px;
  box-sizing: border-box;
  padding: 11px;
  font-size: 14px;
  margin: 10px;
  max-width: 300px;
}

.meetings-container {
  overflow-x: hidden !important;
  overflow-y: scroll !important;
  height: 74vh !important;
}

.meetings-container::-webkit-scrollbar {
  display: none;
}

.chatlist-hed-name p {
  color: #fff;
  margin: 0;
}

.chat-message__avatar {
  width: 40px;
  height: 40px;
  max-width: 100%;
}

.hed-chat-tab {
  margin-top: 5px;
}

.createdOn {
  text-align: right;
}

.reply {
  padding: 10px;
  height: 200px;
}

.chat-message__text {
  background: #44444421;
  font-size: 12px;
  color: green;
}

.chat-message--right .chat-message__text {
  background: #00498f;
  border-radius: 15px !important;
  color: white;
}

.chat-message__text {
  margin-left: 5px;
  background-color: white;
  border-radius: 15px;
  height: 100%;
  color: black;
  font-weight: 400;
  font-size: 12px;
  padding: 22px 10px 8px 10px !important;
  width:auto;
  word-break: break-all;
  /* width: fit-content; */
block-size: fit-content;
  
}

.user-new .space-member-dm {
  padding: 0;
}
.log {
  overflow-x: hidden !important;
  overflow-y: scroll !important;
  height: 493px;
  background-color: #f3efe9 !important;
}

.log::-webkit-scrollbar {
  display: none;
}
.user-new .space-member-dm:hover {
  cursor: pointer;
  background: none;
}

.chat-message:first-of-type .chat-message__text,
.chat-message--right
  + .chat-message:not(.chat-message--right)
  .chat-message__text {
  border-radius: 15px;
}
