.icons-size {
  width: 25px;
}
.tickt-table table thead th {
    font-size: 13px !important;
    padding: 1px 5px !important;
}
.tickt-table table tbody tr td {
    font-size: 12px !important;
    padding: 8px 4px !important;
    border-bottom: 0px !important;
    border-top: 0px !important;
    
}
