*,
*::before,
*::after {
    box-sizing: border-box;
}

$white: #ffff;
$Primary_1: #7ccee9;
$Primary_2: #4273b6;
$secondary_off: #1473e60a;
$white_off: #79585829;
$shade_p1: #7ed0ea;
$red: #dd6062;
$d-red: #eb2f32;
$green: #40b750;
$l-green: #1bdf36;
$white-shade: #ffffff08;
$shade_p11: #91daf1;
$black: #000;
$darklight: #242424;
// incoming call start

.incomecall_main {
    position: fixed;
    bottom: 20px;
    right: 40rem !important;
    background: transparent linear-gradient(180deg, $Primary_2 0%, $Primary_1 100%) 0% 0% no-repeat padding-box;
    box-shadow: 0px 15px 15px $white_off;
    border-radius: 25px;
    z-index: 99999;
    .call_names {
        p {
            color: $shade_p1;
            font-size: 15px;
            margin-bottom: 14px;
        }
        h1 {
            color: $white;
            font-size: 15px;
        }
    }
    .call-animation {
        background: $Primary_2;
        width: 64px;
        height: 64px;
        border-radius: 50%;
        animation: call 1.5s ease infinite;
        color: aliceblue;
        font-size: 18px;
        font-weight: bold;
        position: relative;
        box-shadow: rgb(0 0 0 / 0%) 0px 1px 3px, rgb(0 0 0 / 14%) 0px 1px 2px;
    }
}
.call-end {
    width: 50px;
    height: 50px;
    background: $red 0% 0% no-repeat padding-box;
    border-radius: 50%;
    color: $white;
    &:hover {
        background: $d-red 0% 0% no-repeat padding-box;
    }
}
.call-start {
    width: 50px;
    height: 50px;
    background: $green 0% 0% no-repeat padding-box;
    border-radius: 50%;
    color: $white;
    &:hover {
        background: $l-green 0% 0% no-repeat padding-box;
    }
}
// incoming call end
// call animation start
@keyframes call {
    15% {
        box-shadow: 0 0 0 7px $white-shade;
    }
    25% {
        box-shadow: 0 0 0 8px $white-shade, 0 0 0 15px $white-shade;
    }
    30% {
        box-shadow: 0 0 0 12px $white-shade, 0 0 0 19px $white-shade;
    }
}
@keyframes calling {
    15% {
        box-shadow: 0 0 0 10px $white-shade;
    }
    25% {
        box-shadow: 0 0 0 8px $white-shade, 0 0 0 18px $white-shade;
    }
    30% {
        box-shadow: 0 0 0 12px $white-shade, 0 0 0 25px $white-shade;
    }
}
// call animation end

// call attend start

.callattend_main {
    position: fixed;
    bottom: 20px;
    width: 340px;
    right: 1rem;
    background: transparent linear-gradient(180deg, #4273b6 0%, #5b9acc 100%) 0% 0% no-repeat padding-box;
    box-shadow: 0px 15px 15px $white_off;
    border-radius: 25px;
    z-index: 99999;
    .call_names {
        p {
            color: $shade_p1;
            font-size: 12px;
            color: $shade_p11;
            opacity: 1;
        }
        h1 {
            color: $white;
            font-size: 15px;
        }
    }
    .call-animation {
        background: $Primary_2;
        width: 64px;
        height: 64px;
        border-radius: 50%;
        animation: calling 1.5s ease infinite;
        color: aliceblue;
        font-size: 18px;
        font-weight: bold;
        position: relative;
        box-shadow: rgb(0 0 0 / 0%) 0px 1px 3px, rgb(0 0 0 / 14%) 0px 1px 2px;
    }
}
.call-btn {
    width: 49px;
    height: 49px;
    background: #7ed0ea40 0% 0% no-repeat padding-box;
    border-radius: 50%;
    color: $white;
    &:hover {
        background: #457088;
    }
}

// call attend end

// dialer start

.dialer-main {
    width: 360px;
    height: 100vh;
    position: fixed;
    top: 0;
    // right: -5600px;
    right: 0;
    z-index: 9999;
    background: $white;
    color: $black;
    transition: all 0.3s;
    box-shadow: -6px 1px 9px 0 rgb(65 113 179 / 31%);
    text-align: left;
    text-align: center;

    .filter {
        width: 100%;
        height: 100vh;

        p {
            font-family: "Noto Sans JP", sans-serif;
            font-style: normal;
            font-weight: 700;
            font-size: 20px;
            text-transform: capitalize;
            color: $Primary_2;
        }

        form {
            .form-label {
                font-size: 14px;
                color: $darklight;
            }

            .form-control {
                font-size: 14px;
            }

            .form-select {
                font-size: 14px;
            }
        }

        .fillter_form2 {
            height: 70vh;
            overflow: hidden;
            margin-bottom: 0.5rem;
            overflow-y: scroll;
            text-align: left;

            &::-webkit-scrollbar {
                display: none;
            }
        }
    }
}

.active-d {
    right: 0;
}

.dial-nav {
    position: fixed;
    bottom: 0;
    background: $white;
    padding: 10px;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    width: 30%;
    box-shadow: 4px 4px 11px 3px rgb(0 0 0 / 23%);
    .active {
        color: #3f51b5 !important;
        background: unset !important;
    }
    .nav-item {
        .nav-link {
            color: #c2c2c2;
            font-size: 10px;
            i {
                font-size: 20px;
                margin-bottom: 5px;
            }
            &:hover {
                color: #3f51b5;
            }
        }
    }
}
.nav-width {
    width: 95px;
}
.dialer-btn-main {
    position: absolute;
    top: -34px;
    right: 40%;
    width: 63px;
    height: 63px;
    background: #4273b6 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    display: flex;
    border-radius: 50%;
    background: #3f51b5;
    align-items: center;
    justify-content: center;
    color: $white;
    border: unset;
    &:hover {
        background-color: #0e174c;
    }
}
.dialer-sub {
    // background: red;
    height: 73vh;
    padding: 20px 20px 42px 20px;
}

.dial-pad {
    .dial-pad-sub {
        .icons {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            li {
                width: 74px;
                height: 70px;
                margin-left: 30px;
                margin-bottom: 10px;
                float: left;
                color: #4273b6;
                font-size: 29px;
                font-weight: bold;
                box-sizing: border-box;
                -moz-box-sizing: border-box;
                -o-box-sizing: border-box;
                text-shadow: 0px -1px #222;
                transition: 0.1s;
                display: flex;
                align-items: center;
                justify-content: center;
                &:nth-child(3n + 1) {
                    margin-left: 0;
                }
                &:active {
                    background: #0266c8;
                    color: #fff;
                    -webkit-transform: scale(1.2);
                    -moz-transform: scale(1.2);
                    -ms-transform: scale(1.2);
                    -o-transform: scale(1.2);
                    transform: scale(1.2);
                }
                &:hover {
                    cursor: pointer;
                    background: #4273b6;
                    color: $white;
                }
                &:hover span {
                    color: $white;
                }
            }
        }
    }
}

.dial-pad-sub {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #f6f9fa;
    border-radius: 11px;
    padding: 15px;
}
.dialerInput {
    border: 0;
    height: 45px;
    line-height: 45px;
    font-size: 27px;
    font-weight: bold;
    text-indent: 20px;
    width: 83%;
    color: #4273b6;
    &:focus-visible {
        border: unset !important;
    }
    &:focus {
        color: #4273b6;
    }
}
.dial-bck {
    background: unset;
    border: 0;
    font-size: 31px;
    height: 45px;
    letter-spacing: 0px;
    color: #707070;
    &:hover {
        color: #4273b6;
    }
}
.sub {
    letter-spacing: 0px;
    color: #707070;
    font-size: 14px;
}
.star {
    font-size: 58px !important;
}
.hash {
    padding-bottom: 24px;
}
.user-dial {
    width: 37px;
    height: 37px;
    background: transparent url("../images/dialer/Ellipse\ 26.png") 0% 0% no-repeat padding-box;
    border-radius: 50%;
    cursor: pointer;
}
.dialer-badge {
    border-radius: 50%;
    padding: 6px;
    transform: translate(-88%, -26%);
    background-color: #10CE4F;
}

// dialer end 
// call icon start 
.callicon {
    position: fixed;
    bottom: 42px;
    width: 70px;
    height: 64px;
    right: 0;
    background: #4374b7;
    box-shadow: 0px 15px 15px rgb(121 88 88 / 16%);
    border-radius: 78% 0 0 78%;
    z-index: 99999;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    &::after{
        content: "";
        width: 20px;
        position: absolute;
        height: 20px;
        top: -8px;
        right: -11px;
        -webkit-clip-path:polygon(49% 0%, 100% 0, 100% 35%, 100% 100%, 68% 100%, 32% 100%, 0 100%, 0% 43%, 32% 23%);
        clip-path: polygon(49% 0%, 100% 0, 100% 35%, 100% 100%, 68% 100%, 32% 100%, 0 100%, 0% 43%, 32% 23%);
        background: #4374b7;
    }
    &::before{
        content: "";
        width: 20px;
        position: absolute;
        height: 20px;
        bottom: -11px;
    right: -12px;
        -webkit-clip-path:polygon(49% 0%, 100% 0, 100% 40%, 100% 100%, 60% 100%, 38% 100%, 25% 63%, 0% 42%, 0 0);
        clip-path:polygon(49% 0%, 100% 0, 100% 40%, 100% 100%, 60% 100%, 38% 100%, 25% 63%, 0% 42%, 0 0);
        background: #4374b7;
    }
}