.interaction_history {
  display: flex;
  justify-content: space-between;
  height: 100% !important;
  width: 100% !important;
}

.right_div {
  width: 176px;
  // height: 35px;
  // margin-top: 40px;
  // margin-left: 6px;
  border-radius: 20px;
}

.icon_history {
  margin-left: 5.5rem;
  margin-top: 10px;
  cursor: pointer;
}

.right_single_div {
  height: 35px;
  width: 176px;
}
.right_single_div {
  width: 170px;
  height: 35px;
  margin-top: 65px;
  border-radius: 20px;
}

.right_side_icon {
  margin-left: 75px;
  margin-top: 10px;
}
.label_div {
  // height: 23px !important;
  width: 150px;
  color: gray;
  // margin-left: -51px;
  // position: absolute;
  // left: 65px;
  // top: 16px;
  font-size: 10px;
}
.second_label_div {
  position: absolute;
  top: 80;
  left: 12;
  color: gray;
  font-size: 10px;
}
.third_label_div {
  position: absolute;
  top: 43px;
  left: 230;
  color: gray;
  font-size: 10px;
}
.left_chat {
  margin-top: 50px;
  width: 50%;
  word-wrap: break-word;
  background-color: azure;
  padding: 10px;
  border-radius: 10px;
}
.left_chat-time {
  font-size: 10px;
  padding: 0 5px;
}
.right_chat {
  width: 50% !important;
  word-wrap: break-word !important;
  margin-left: 50% !important;
  background-color:#294e9f !important;
  padding: 10px !important;
  border-radius: 10px !important;
  color: white;
}
.right_chat_text{
  color: white;
}
.right_chat-time {
  margin-left: 64% ;
  font-size: 10px;
}
.chat_div {
  height: 100vh;
  max-height: auto;
  overflow-y: scroll !important;
}
.chat_div::-webkit-scrollbar {
  display: none;
}

.cannded_msg .modal-content {
  margin: 0 !important;
  width: inherit !important;
}

.historyDiv {
  overflow: hidden;
  overflow-y: scroll;
  height: 45vh;
}

.react-datepicker-wrapper {
  // position: absolute;
  // left: 272px;
  // width: 100px;
  // padding: 0;
  max-width: 100px;
}

.react-datepicker__input-container input {
  width: 80px !important;
  padding: 0;
  box-shadow: none;
  height: 22px !important;
  outline: none;
  font-size: 14px;
}

.calender-placment {
  float: right;
  margin: -19px 12px 0px 5px;
}
